
pre.highlighted table td { padding: 5px; }
pre.highlighted table pre { margin: 0; }
pre.highlighted, pre.highlighted .w {
  color: #93a1a1;
  background-color: #002b36;
}
pre.highlighted .err {
  color: #002b36;
  background-color: #dc322f;
}
pre.highlighted .c, pre.highlighted .cd, pre.highlighted .cm, pre.highlighted .c1, pre.highlighted .cs {
  color: #657b83;
}
pre.highlighted .cp {
  color: #b58900;
}
pre.highlighted .nt {
  color: #b58900;
}
pre.highlighted .o, pre.highlighted .ow {
  color: #93a1a1;
}
pre.highlighted .p, pre.highlighted .pi {
  color: #93a1a1;
}
pre.highlighted .gi {
  color: #859900;
}
pre.highlighted .gd {
  color: #dc322f;
}
pre.highlighted .gh {
  color: #268bd2;
  background-color: #002b36;
  font-weight: bold;
}
pre.highlighted .k, pre.highlighted .kn, pre.highlighted .kp, pre.highlighted .kr, pre.highlighted .kv {
  color: #6c71c4;
}
pre.highlighted .kc {
  color: #cb4b16;
}
pre.highlighted .kt {
  color: #cb4b16;
}
pre.highlighted .kd {
  color: #cb4b16;
}
pre.highlighted .s, pre.highlighted .sb, pre.highlighted .sc, pre.highlighted .sd, pre.highlighted .s2, pre.highlighted .sh, pre.highlighted .sx, pre.highlighted .s1 {
  color: #859900;
}
pre.highlighted .sr {
  color: #2aa198;
}
pre.highlighted .si {
  color: #d33682;
}
pre.highlighted .se {
  color: #d33682;
}
pre.highlighted .nn {
  color: #b58900;
}
pre.highlighted .nc {
  color: #b58900;
}
pre.highlighted .no {
  color: #b58900;
}
pre.highlighted .na {
  color: #268bd2;
}
pre.highlighted .m, pre.highlighted .mf, pre.highlighted .mh, pre.highlighted .mi, pre.highlighted .il, pre.highlighted .mo, pre.highlighted .mb, pre.highlighted .mx {
  color: #859900;
}
pre.highlighted .ss {
  color: #859900;
}
